.navbar{
    background-color:rgba( 255, 255, 255, 0.25 ) ;
    font-weight: normal;
}

.login-card{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    /* height: 100%; */
    width: 350px !important;
    position: relative;
    padding: 20px 25px;
}

.reg-card{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    /* height: 100%; */
    width: 380px !important;
    position: relative;
    padding: 20px 25px;
}

.reg-card h2{
    font-weight: bold;
    color: white;
}

h1{
    color: white;
}

a{
    text-decoration: none !important;
    color: rgb(255, 255, 255) !important;
}

.form-control{
    background-color: rgb(255, 255, 255, 0) !important;
    background-clip: padding-box;
    border: none !important;
    color: white !important;
    border-bottom: 1px solid !important;
    border-radius: 0 !important;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white !important;
    text-align: center;
    white-space: nowrap;
    background-color: rgb(233, 236, 239, 0) !important;
    border: none !important;
    border-bottom: 1px solid !important;
    border-radius: 0 !important;
}

.form-control::placeholder{
    color: rgb(197, 194, 194) !important;
    font-size: .9rem !important;
}

.form-control:focus {
    box-shadow: none !important;
    outline: none !important;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0; 
    background: rgba( 255, 255, 255, 0.25 );
    height: 50px;
    width: 100%;
    border-top-left-radius: 50px;
    pointer-events: none;
}

.footer h6{
    color: white !important;
    font-weight: lighter;
    padding-top: 12px !important;
    font-size: .9rem;
}

.form-select:focus {
    box-shadow: none !important;
    outline: none !important;
}

.form-select{
    background-color: rgba( 255, 255, 255, 0 ) !important;
    border: none !important;
    border-bottom: 1px solid white !important;
    color: white !important;
    font-size: .9rem !important;
    border-radius: 0 !important;
}

.custom-select{
    background: rgb(255, 255, 255, 0) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23fff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") right 0.75rem center/8px 10px no-repeat !important;
}

.form-select option{
    color: black !important;
}
