@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,600;1,700&display=swap');

body {
  font-family: 'Open Sans', sans-serif !important;
  background-color: #000 !important;
}

p {
  margin-bottom: 0  !important;
}

.handsfree-debugger {
  position: fixed !important;
  right: 15px;
  bottom: 15px;
  width: 180px;
  height: 150px;
}

.handsfree-pointer {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgb(224, 224, 224);
  border: 1.5px dashed rgb(255, 255, 255);
  padding: 8px;
  background-clip: content-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  opacity: 1;
  transition: all 250ms;
  display: none;
  animation: rotating 2s linear infinite;
}


.handsfree-video {
  position: fixed !important;
  right: 15px;
  bottom: 0px;
  width: 180px;
  height: 150px;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: white !important;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} 


.custom-button {
  position: relative;
  padding: 8px 28px;
  color: #21ebff;
  text-decoration: none;
  transition: 0.5s;
  overflow: hidden;
  color: white;
  -webkit-box-reflect: below 2px linear-gradient(transparent, #0003);
}

.custom-button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  transition: 0.5s;
}

.custom-button:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #fdffff;
  border-right: 2px solid #fcfcfc;
  transition: 0.5s;
}

.custom-button:hover{
  text-decoration: none;
  color: rgb(255, 209, 82);
  transition-delay: 0.4s;
}

.card {
  border: none !important;
  background-color: #000 !important;
  color: white;
  line-height: 1.2rem;
  max-width: 300px;
}

.card img {
  -webkit-box-reflect: below 2px linear-gradient(transparent, rgba(0, 0, 0, 0.252));
}

.card-title {
  position: absolute;
  bottom: 3%;
  left: 5%;
}

.text-light-yellow {
  color: rgb(255, 209, 82);
}

.heading-h1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 3.1rem;
}

.VueCarousel-wrapper {
  overflow: visible !important;
}

.VueCarousel-dot--active {
  background-color: #ffd152 !important;
}